.header {
  background-color: white;
  margin-top: 2rem;
}

.nav {
  padding: 20px 0;
}

.menu {
  margin: 0; padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 3px 10px;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .3s;

    &:hover {
      color: #404da0;
    }
  }
}
